@{
    ViewBag.Title = "Inicio";
}
@{var json = (HtmlString)ViewBag.json; }
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">Deportes</h2>
    </div>
</div>
<div class="row" ng-app="listApp" ng-controller="listController">
    <div class="col-md-12">
        <div>
            <div class="alert alert-info alert-dismissible" role="alert" ng-hide="items.length != 0">
                <strong>{{ message }}</strong>
            </div>
        </div>
        <div class="table-responsive">
            <div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            <span class="glyphicon glyphicon-search" aria-hidden="true">
                            </span>
                        </span>
                        <input type="text" class="form-control" placeholder="Buscar..." aria-describedby="basic-addon1" ng-model="strCadena" ng-keyup="serch(strCadena)">
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-3">
                    <h5>@Html.ActionLink("Registrar Deporte", "Create")</h5>
                </div>
                <div class="col-md-12">
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Tipo de Energia</th>
                                <th>Clasificacion</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-switch on="x.TipoEnergia" ng-repeat="x in tempItems">
                                <td scope="row"></td>
                                <td>{{ x.Nombre }}</td>
                                <td ng-switch-when="0">Aerobico</td>
                                <td ng-switch-when="1">Anaerobico</td>
                                <td ng-switch-when="2">Aerobico/Anaerobico</td>
                                <td>{{ x.Clasificacion.Descripcion }}</td>
                                <td><a ng-href="@Url.Action("Edit")/{{x.DeporteId}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                                <td><a href="#" ng-click="deleteConfirm('@Url.Action("Delete")', x.DeporteId)"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12" ng-hide="isHide">
                    <ul class="pagination pull-right">
                        <li ng-click="changePage(pages[0])">
                            <a href="#">
                                <span>Primera</span>
                            </a>
                        </li>
                        <li ng-click="changePage(currentPage - 1)">
                            <a href="#">
                                <span><<</span>
                            </a>
                        </li>
                        <li ng-repeat="x in tempPages" ng-click="changePage(x)" ng-class="{active: x == currentPage}">
                            <a href="#">
                                <span>{{x}}</span>
                            </a>
                        </li>
                        <li ng-click="changePage(currentPage + 1)">
                            <a href="#">
                                <span>>></span>
                            </a>
                        </li>
                        <li ng-click="changePage(pages[pages.length - 1])">
                            <a href="#">
                                <span>Ultima</span>
                            </a>
                        </li>
                        <li ng-click="sp(n = n + count, count)" ng-hide="notMore || (currentPage != tempPages[tempPages.length - 1])">
                            <a href="#">
                                <span>Load</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>       
        jsPageing('@json', null, 10, 9);
    </script>
}