@*<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />*@
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <h2>Asignacion de bloque</h2>
    </div>
</div>
<div class="row">
    <div class="table-responsive">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Busqueda de deportistas
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example" class="table table-striped table-bordered table-hover " cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Matricula</th>
                                                <th>Nombre</th>
                                                <th>Apellidos</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script>
        @*$.getJSON('@Url.Action("GetAllByExpression", "AsignacionBloques")', { expression: 'n' }, function (data) {
            var str = "";
            for (var i = 0; i < data.length - 1; i++) {
                str += "<tr>" +
                              "<td>" + data[i].Matricula + "</td>" +
                              "<td>" + data[i].Nombre + "</td>" +
                              "<td>" + data[i].Apellidos + "</td>" +
                          "</tr>";
            }
            $("#tbl-body").append(str);
            $(document).ready(function () {
                $('#example').DataTable();
            });
        });*@
        @*var table = $('#example').dataTable({
                serverSide: true,
                "ajax": {
                    "url": "@Url.Action("GetAllByExpression", "AsignacionBloques")",
                    "dataSrc": function (json) {
                        return json;
                    }
                },
                "columns": [
                    { "data": "Matricula" },
                    { "data": "Nombre" },
                    { "data": "Apellidos" }
                ]
        });*@

       

        var table = $('#example').dataTable({
            processing: true,
            serverSide: true,
            "ajax": "@Url.Action("GetAllByExpression", "AsignacionBloques")",
            "columns": [
                {
                    "data": "Matricula",
                    "orderable": false,
                    "searchable": false,
                    "render": function (data) {
                        var a = '<a href="#" onclick="displayDeportes('+ data +')">'+ data +'</a>';
                        return a;
                    }
                },
                { "data": "Nombre" },
                { "data": "Apellidos" }
            ]
        });

        function displayDeportes(matricula) {
            debugger;
        }

        $('#example tbody').click(function(data) {
            //alert(data.toElement.parentNode.id);
        });
    </script>
}
