@*<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />*@
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">Asignacion de bloque</h2>
    </div>
</div>
<div class="row">
    <div class="table-responsive">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Busqueda de deportistas
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="tbl-deportistas" class="table table-striped table-bordered table-hover " cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Matricula</th>
                                                <th>Nombre</th>
                                                <th>Apellidos</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script>
        var tbl_deportistas = $('#tbl-deportistas').dataTable({
            processing: true,
            serverSide: true,
            ajax :
                {
                    //"data": function (data) {
                    //    data = JSON.stringify(data);
                    //},
                    "url" : "@Url.Action("GetDeportistas", "AsignacionBloques")",
                    "type": 'POST'
                },
            columns : [
                {
                    "data": "Matricula",
                    "orderable": false,
                    "searchable": false,
                    "render": function (data) {
                        return '<a href="#" onclick="displayModal(' + data + ')">' + data + '</a>';
                    }
                },
                { "data": "Nombre" },
                { "data": "Apellidos" }
            ]
        });

        function displayModal(matricula) {

            $.get("@Url.Action("AddBloque", "AsignacionBloques")",{ matricula }).success(function (html) {
                $("#idModal .modal-content").replaceWith('<div class="modal-content">' + html + '</div>');
                $("#idModal").modal('show');
            });
        }

    </script>
}
