@*<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />*@
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <h2>Asignacion de bloque</h2>
    </div>
</div>
<div class="row">
    <div class="table-responsive">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <form role="form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Buscar Deportista</label>
                                    <input class="form-control" placeholder="Buscar..." id="btn-buscar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example" class="table table-striped table-bordered table-hover " cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Matricula</th>
                                                <th>Nombre</th>
                                                <th>Apellidos</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script>
        @*$.getJSON('@Url.Action("GetAllByExpression", "AsignacionBloques")', { expression: 'n' }, function (data) {
            var str = "";
            for (var i = 0; i < data.length - 1; i++) {
                str += "<tr>" +
                              "<td>" + data[i].Matricula + "</td>" +
                              "<td>" + data[i].Nombre + "</td>" +
                              "<td>" + data[i].Apellidos + "</td>" +
                          "</tr>";
            }
            $("#tbl-body").append(str);
            $(document).ready(function () {
                $('#example').DataTable();
            });
        });*@
        var table = $('#example').dataTable({
                "ajax": {
                    "url": "@Url.Action("GetAllByExpression", "AsignacionBloques")?expression=" + 0,
                    "dataSrc": function (json) {
                        return json;
                    }
                },
                "columns": [
                    { "data": "Matricula" },
                    { "data": "Nombre" },
                    { "data": "Apellidos" }
                ]
        });
        $("#btn-buscar").keyup(function (expression) {

            alert('Data source: ' + table.ajax.url());
            table.ajax.url("@Url.Action("GetAllByExpression", "AsignacionBloques")?expression=" + expression);
        });
    </script>
}
